<h1>Locations!</h1>

<div> <%= link_to "Add Location", new_location_path %> </div>

<table>
  <% @locations.each do |location| %>
    <tr>
      <td> <%= location.country %> </td>
      <td> <%= location.territory %> </td>
      <td> <%= location.territory_type %> </td>
    </tr>
  <% end %>

</table>
